@font-face {
  font-family: 'Visitor';
  src: url('../fonts/visitor1.ttf');
}

body {
    background-color: lightgray;
    font-family: Visitor;
}

#game {
    /* todo */
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 1px 5px 1px black;
    cursor: none;
}
#gameContainer {
    float:left; display:inline;
}

#hudContainer {
    margin-left: 10px;
    float:left; display:inline;
}
